.login-form{
	width:100%;
	height:80px;
	margin-top:30px;

	p{
		height:40px;
		line-height:40px;
		border-bottom:1px solid $basecolor;
		@include pos(relative);
		&:nth-of-type(2){
			padding-right:100px;
		}
	}
	input{
		width:100%;
		height:100%;
	}
	input::-webkit-input-placeholder{
		font-size:14px;
	}
}
.login-tip{
	width:100%;
	text-align:center;
	font-size:14px;
	color:$high-c;
	.question{
		 margin:0 5px 0 0;
	}
}
.login-tap{
	height:50px;
	line-height:50px;
	font-size:14PX;
	color:$high-c;
}

.other-way{
	width:100%;
	height:20px;
	line-height:20px;
	@include pos;
	bottom:10%;
	left:0;
	text-align:center;
	font-size:14px;
	color:#999;
	@include rightArrow($w:8px,$c:#999);
	&:after{
		margin-top:-4px;
		margin-left:5px;
	}
}
