@import "public.scss";
.upload{
	overflow:auto!important;
	overflow-x:hidden!important;
	h2{
		height:40px;
		line-height:40px;
		font-size:14px;
	}
	.photo-item{
		width:100%;
		margin-bottom:10px;
	}
	.photo{
		width:100%;
		height:100%;
		@include pos(relative);
		img{
			width:100%;
		}
		input{
			width:100%;
			height:100%;
			@include pos;
			top:0;
			left:0;
			opacity:0;
		}
	}
	.over-btn{
		height:36px;
		line-height:36px;
		margin:20px 0;
	}
	.upload-text{
		h2,li{
			color:$text-cc;
		}
		li{
			font-size:12px;
			line-height:20px;
		}
		padding-bottom:30px;
		color:$text-c;
	}
}